*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}


body {
  margin: 0;
}

h1,
h2,
h3 {
  border: 3px solid red;
  /* covers the width of the viewport and pushes next items down */
  display: block;
}

p {
  border: 3px solid red;
  /* pushes neighbors down */
  display: block;
  margin-bottom: 10px;
}

strong {
  color: red;
  /* does not speak full width of viewport and does not move neighbors to the bottom */
  display: inline;
  /* however you can not set the width, margins, padding for an inline element */
}

button {
  /* kinda like inline but you can set the width, height, margin and padding properties */
  /* and can move content around it to accomidate width, height, margin, padding */
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}


.container {
  height: 500px;
  width: 600px;
  border: 5px solid black;
  margin: 0 auto;
  /* place items in main-axis, default is horizontal/row */
  display: flex;

  /* this sets the main axis */
  /* flex-direction: row; */

  /* align elements along the main axis */
  /* justify-content: space-evenly; */
  justify-content: center;

  /* align items along cross axis */ 
  align-items: center;

  /* wrap items when there is no more space */
  /* flex-wrap: wrap; */

  /* align wrap items along cross axis */
  /* align-content: center; */

  /* add space between items */
  /* gap: 16px; */
}


.item {
  width: 100px;
  height: 100px;
  border: 5px solid red;
  background-color: pink;
}

.item-1 {
  /* allows items to grow if there is space */
  /* flex-grow: 1; */

  /* basis width or height for flex item */  
  /* flex-basis: 200px; */

  /* flex shorthand: grow, srink, basis */ 
  /* flex: 1 1 0; */

  /* just align this item along the cross axis */
  /* align-self: flex-end; */

  /* arange the order of item along main axis, you should do this in the html though */
  order: 3;
}

.item-2 { 
  /* allows items to grow if there is space */
  /* flex-grow: 5; */
  /* cause this item to shrink faster in space is shrinking */
  /* flex-shrink: 5; */
  order: 2;
}

.item-3 {
  /* allows items to grow if there is space */
  /* flex-grow: 1; */
  order: 1;
}



