@import 'import.css';

body {
  background-color: gray;
}

/* this is a comment */
h1 {
  color: blue;
  /* color: red; */
}

/* class */
.title {
  color: red;
}

/* id */
#titleId {
  color: yellow;
}

/* select elements by their attributes */
[href] {
  color: pink;
}

/* grouping selectors */
.title,
#titleId {
  font-style: italic;
}

/* adjacent siblin selectors */  
/* sibline is right after */ 
.h1 + .h2 { 
  color: red;  
}

/* general siblin selector */
.h1 ~ .h3 {
  color: green;
}

/* child selector */
.parent > .h4 {
  color: blue;
}

/* desendent selector */ 
.parent .descendent {
  color: pink;
}

/* universal selector */ 
* { 
  margin: 0;
  padding: 0;
}
