 @import 'import.css';

 /* this is a comment */
 h1 {
   color: blue;
   /* color: red; */
 }

 /* class */
 .title {
   color: red;
 }

 /* id */
 #titleId {
   color: yellow;
 }

 /* select elements by their attributes */
 [href] {
   color: pink;
 }

 /* grouping selectors */
 .title,
 #titleId {
   font-style: italic;
 }

 /* adjacent selectors */  
 /* sibline is right after */ 
 .h1 + .h2 { 
  color: red;  
}
