p {
  font-size: 24px;
}

.message {
  color: red;
}

img {
  width: 100%;
  height: auto;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.font-size-45 {
  font-size: 45px;
}

.font-weight-bold {
  font-weight: bold;
}

.text-decoration {
  /* text-decoration: underline; */
  text-decoration: line-through;
}

.text-transform {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 20px;
}

.word-spacing {
  word-spacing: 50px;
}

.line-height {
  line-height: 3;
}

.border {
  border: 3px solid blue;
}

.padding {
  padding: 50px;
}

.margin {
  margin-left: 50px;
}

.list {
  list-style-type: lower-greek;
}

.background-color {
  background-color: lightblue;
}

a.link:link {
  color: blue;
}

a.link:hover {
  color: red;
}

a.link:visited {
  color: green;
}

a.link:active {
  color: yellow;
}

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: red;
  color: white;
}

.text-wrapper {
  /* display: inline; */
  /* display: block; */
  display: none;
  /* visibility: hidden; */
}

/* inline-block you can assign width and height */

#span2 {
  background-color: lightcoral;
  display: inline-block;
  height: 100px;
  width: 200px;
}
