body {
  margin: 0;
}

header {
  background-color: lightblue;
  height: 80px;
  position: sticky;
  top: 0;
}

footer {
  height: 300px;
  background-color: lightgray;
}

main {
  padding: 16px 5%;
}

aside {
  background-color: lightcoral;
  height: 450px;
  width: 50%;
  display: inline-block;
}

section {
  height: 450px;
  width: 49%;
  background-color: burlywood;
  display: inline-block;
}
